a {
    font-size: 20px;
}

ul {
    margin-top: 0px;
}

.projects {
    margin-left: 15%;
    margin-right: 15%;
}

.massive-font {
    font-size: 25px;
}

.progress {
    height: 30px;
}

.progress_detail {
    display: none;
}

.essay_id {
    display: inline;
}

.ocr_id {
    display: inline;
}

.annotated_quantity {
    display: inline;
}

.sum {
    display: inline;
}

.ratio {
    display: inline;
}

.essay {
    font-family: "Monaco";
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    width: 90%;
}

textarea {
    padding: 10px;
    width: 100%;
    font-family: "Monaco";
    font-size: 14px;
    border-radius: 0px;
    border: 2px solid #556677;
}

.container {
    max-width: 90%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;
 }
  
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }