label {
    display: block;
    float: left;
    width: 110px;
}

ul {
    margin-top: 0px;
}

.title {
    font-family: "Arial";
}

.essay_annotator {
    margin: auto;
    background: white;
    font-family: "Arial";
}

.essay {
    font-family: "Monaco";
    font-size: 16px;
}

.col {
    margin: auto;
    float: left;
}

.left {
    font-family: "Arial";
    width: 50%;
}

.right {
    font-family: "Arial";
    width: 50%;
}

.log {
    display: none;
    font-family: "Arial";
    font-size: 14px;
}

.string { color: blue; }
.number { color: red; }
.boolean { color: green; }
.null { color: magenta; }
.key { color: black; }


.button_previous {
    font-size: 14px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_previous:hover {
    background-color: rgb(40, 223, 255);
    color: white;
}

.button_next {
    font-size: 14px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_next:hover {
    background-color: rgb(40, 223, 255);
    color: white;
}

.button_submit {
    font-size: 14px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button_submit:hover {
    background-color: rgb(40, 223, 255);
    color: white;
}