<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="Billing System">
    <meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js")}}"></script>
	<link type="text/css" href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="text/css" href="{{ static_url("css/billing.css")}}" rel="stylesheet" media="screen, projection"/>
</head>
<body class="bg-light">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
		</nav>
	</div>
	<div class="container">
		<table>
			<tr>
				<th width="150"></th>
				<th width="100">mark</th>
				<th width="100">ocr</th>
				<th width="100">all</th>
			</tr>
		    {% for annotator in annotators %}
		    <tr>
				<td>{{annotator}}</td>
				<td>{{essay_quantity_for_billing[annotator]}}</td>
				<td>{{ocr_quantity_for_billing[annotator]}}</td>
				<td>{{essay_quantity_for_billing[annotator] + ocr_quantity_for_billing[annotator]}}</td>
			</tr>
		    {% end %}
		</table>
	</div>

</body>
</html>