<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="Essay Grading Annotation">
    <meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
    <link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/main.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/jquery-3.3.1.min.js")}}"></script>
</head>
<body>
	<div class="essay_annotator">
		<h1 class="title">{{ title }}</h1>
		<div class="col left">
			<b>Essay</b><br><br>
			Essay ID: {{ essay_id }}<br>
			Annotation Progress: {{ annotated_quantity }}/{{ sum }}, {{ annotation_ratio }}%<br>
			<pre id="essay" name="essay" class="essay">{{ essay }}</pre>
			<button id="previous" class="button_previous" onclick="previous(this);">Previous</button>
			<button id="next" class="button_next" onclick="next(this);">Next</button>
		</div>
		<div class="col right">
			<b>Annotation</b><br><br>
			Grading Rules:
			<ul id='rules' class='rules'>
				<li>2: High</li>
				<li>1: Medium</li>
				<li>0: Low</li>
			</ul>
			<label>Overall Score</label>
			<input type="radio" id="overall_score_0" name="overall_score" value="0" />0 &nbsp;
			<input type="radio" id="overall_score_1" name="overall_score" value="1" />1 &nbsp;
			<input type="radio" id="overall_score_2" name="overall_score" value="2" />2 &nbsp;
			<br>
			<label>Vocabulary</label>
			<input type="radio" id="vocabulary_score_0" name="vocabulary_score" value="0" />0 &nbsp;
			<input type="radio" id="vocabulary_score_1" name="vocabulary_score" value="1" />1 &nbsp;
			<input type="radio" id="vocabulary_score_2" name="vocabulary_score" value="2" />2 &nbsp;
			<br>
			<label>Sentence</label>
			<input type="radio" id="sentence_score_0" name="sentence_score" value="0" />0 &nbsp;
			<input type="radio" id="sentence_score_1" name="sentence_score" value="1" />1 &nbsp;
			<input type="radio" id="sentence_score_2" name="sentence_score" value="2" />2 &nbsp;
			<br>
			<label>Structure</label>
			<input type="radio" id="structure_score_0" name="structure_score" value="0" />0 &nbsp;
			<input type="radio" id="structure_score_1" name="structure_score" value="1" />1 &nbsp;
			<input type="radio" id="structure_score_2" name="structure_score" value="2" />2 &nbsp;
			<br>
			<label>Content</label>
			<input type="radio" id="content_score_0" name="content_score" value="0" />0 &nbsp;
			<input type="radio" id="content_score_1" name="content_score" value="1" />1 &nbsp;
			<input type="radio" id="content_score_2" name="content_score" value="2" />2 &nbsp;
			<br><br>
			<button id="subumit" class="button_submit" onclick="submit(this);">Submit</button>
		</div>
	</div>
</body>
</html>