<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="Annotation Platform">
    <meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/popper.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js")}}"></script>
	<link type="text/css" href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
</head>
<body  class="bg-light">
	<div class="wrapper">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
			<h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" data-toggle="modal" href="#support">Support</a>
				<a class="p-2 text-dark" data-toggle="modal" href="#credit">Credits</a>
				<a class="p-2 text-dark" href="/billing">Billing</a>
				<a class="p-2 text-dark" href="/view">View</a>
				<a class="p-2 text-dark" href="/qc">QC</a>
			</nav>
			<!-- <a class="btn btn-outline-primary" href="/signin">Sign in</a> -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{ current_user }}
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#">Profile</a>
					<a class="dropdown-item" href="#">Contributions</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Help</a>
					<a class="dropdown-item" href="#">Settings</a>
					<a class="dropdown-item" href="/signout">Sign out</a>
				</div>
			</div>
		</div>
		<br>
		<div class="projects">
			<a style="font-size: 20px;" href="/mark">Essay Grading Annotation</a>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated massive-font" role="progressbar" style="width: {{ annotation_essay_ratio }}%" aria-valuenow="{{ annotation_essay_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ annotation_essay_ratio }}%</div>
			</div>
			<br>
			<a style="font-size: 20px;" href="/ocr">OCR Result Annotation</a>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated massive-font" role="progressbar" style="width: {{ corrected_ocr_ratio }}%" aria-valuenow="{{ corrected_ocr_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ corrected_ocr_ratio }}%</div>
			</div>
			<br>
			<a style="font-size: 20px;" href="/grammar">Grammar Error Annotation</a>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated massive-font" role="progressbar" style="width: {{ checked_grammar_ratio }}%" aria-valuenow="{{ checked_grammar_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ checked_grammar_ratio }}%</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<p class="mb-1">&copy; 17Tech NLP</p>
	</div>

	<!-- modal support -->
	<div class="modal fade" id="support" tabindex="-1" role="dialog" aria-labelledby="support_title" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="support_long_title">Support</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					If you have any question, please contact <a href="mailto:i@yanshengjia.com">i@yanshengjia.com</a> :)
				</div>
			</div>
		</div>
	</div>

	<!-- modal credit -->
	<div class="modal fade" id="credit" tabindex="-1" role="dialog" aria-labelledby="credit_title" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="credit_long_title">Credits</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Contributors:
					<ul>
						<li>Shengjia Yan</li>
						<li>Chen Dong</li>
						<li>Xi Yang</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>