<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="Essay Grading Annotation">
	<meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/mark.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/popper.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js")}}"></script>
	<link type="text/css" href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
</head>
<body class="bg-light">

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="/">Home</a>
			<a class="p-2 text-dark" data-toggle="modal" href="#rules">Rules</a>
			<a class="p-2 text-dark" data-toggle="modal" href="#qc">QC</a>
		</nav>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ current_user }}
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="#">Profile</a>
				<a class="dropdown-item" href="#">Contributions</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Help</a>
				<a class="dropdown-item" href="#">Settings</a>
				<a class="dropdown-item" href="/signout">Sign out</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7 order-md-1">
				<h4 class="mb-3">
					Essay
					<div id="essay_id" name="essay_id" class="essay_id">{{ essay_id }}</div>
				</h4>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<button id="button_jump" class="btn btn-outline-secondary" onclick="jumpImage(this);">Jump</button>
					</div>
					<input id="jump_id" type="number" class="form-control" placeholder="Enter the Image ID which you want to jump to" aria-label="" aria-describedby="basic-addon1">
				</div>

				<div class="mb-3">
					<div id="essay" name="essay" class="essay">{{ essay }}</div>
				</div>
			</div>

			<div class="col-md-5 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Annotation</span>
				</h4>

				<div class="annotation_mark">
					Essay Annotator:
					<div class='annotator_mark' id='annotator_mark' name='annotator_mark'>{{  essay_annotator_mark  }}</div>
				</div>

				<div class="progress_detail">
					Annotation Progress: 
					<div class="annotated_quantity" id="annotated_quantity" name="annotated_quantity">{{ annotated_essay_quantity }}</div> /
					<div class="sum" id="sum" name="sum">{{ sum }}</div>,
					<div class="ratio" id="ratio" name="ratio">{{ annotation_essay_ratio }}</div>%<br>
				</div>
				<br>
				
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Overall Score</h6>
						</div>
						<span class="text-muted">
							<input type="number" id="overall_score" name="overall_score" value="" placeholder=""/>
						</span>
					</li>

					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Vocabulary</h6>
						</div>
						<span class="text-muted">
							<input type="radio" id="vocabulary_score_0" name="vocabulary_score" value="0" />&nbsp; 0 &nbsp; &nbsp;
							<input type="radio" id="vocabulary_score_1" name="vocabulary_score" value="1" />&nbsp; 1 &nbsp; &nbsp;
							<input type="radio" id="vocabulary_score_2" name="vocabulary_score" value="2" />&nbsp; 2 &nbsp; &nbsp;
						</span>
					</li>

					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Sentence</h6>
						</div>
						<span class="text-muted">
							<input type="radio" id="sentence_score_0" name="sentence_score" value="0" />&nbsp; 0 &nbsp; &nbsp;
							<input type="radio" id="sentence_score_1" name="sentence_score" value="1" />&nbsp; 1 &nbsp; &nbsp;
							<input type="radio" id="sentence_score_2" name="sentence_score" value="2" />&nbsp; 2 &nbsp; &nbsp;
						</span>
					</li>

					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Structure</h6>
						</div>
						<span class="text-muted">
							<input type="radio" id="structure_score_0" name="structure_score" value="0" />&nbsp; 0 &nbsp; &nbsp;
							<input type="radio" id="structure_score_1" name="structure_score" value="1" />&nbsp; 1 &nbsp; &nbsp;
							<input type="radio" id="structure_score_2" name="structure_score" value="2" />&nbsp; 2 &nbsp; &nbsp;
						</span>
					</li>

					<li class="list-group-item d-flex justify-content-between lh-condensed">
						<div>
							<h6 class="my-0">Content</h6>
						</div>
						<span class="text-muted">
							<input type="radio" id="content_score_0" name="content_score" value="0" />&nbsp; 0 &nbsp; &nbsp;
							<input type="radio" id="content_score_1" name="content_score" value="1" />&nbsp; 1 &nbsp; &nbsp;
							<input type="radio" id="content_score_2" name="content_score" value="2" />&nbsp; 2 &nbsp; &nbsp;
						</span>
					</li>
				</ul>

				<button id="button_previous" class="btn btn-outline-primary" onclick="previousEssay(this);">Previous</button>
				<button id="button_next" class="btn btn-outline-primary" onclick="nextEssay(this);">Next</button>
				<button id="button_clear" class="btn btn-outline-primary" onclick="clearMark(this);">Clear</button>
				<button id="button_submit" class="btn btn-outline-primary" onclick="submitEssayMark(this);">Submit</button>
			</div>
		</div>
	</div>

	<!-- modal rules -->
	<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="rules_title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="rules_long_title">Annotation Rules</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul>
						<li>2: High</li>
						<li>1: Medium</li>
						<li>0: Low</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- modal qc -->
	<div class="modal fade" id="qc" tabindex="-1" role="dialog" aria-labelledby="qc_title" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="rules_long_title">Quality Control Mechanisms</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<ul>
						<li>Quadratic Weighted Kappa</li>
						<li>Linear Weighted Kappa</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>