<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="OCR Result Correction">
    <meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/ocr.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/jquery-3.3.1.min.js")}}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
</head>
<body class="bg-light">

	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
		<h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
		<nav class="my-2 my-md-0 mr-md-3">
			<a class="p-2 text-dark" href="/">首页</a>
			<a class="p-2 text-dark" href="#">标注规则</a>
			<a class="p-2 text-dark" href="#">仲裁机制</a>
		</nav>
		<a class="btn btn-outline-primary" href="#">Sign in</a>
	</div>

	</div class="container">
		<div class="row">
			<div class="col-md-7 order-md-1">
				<h4 class="mb-3">
					Image
					<div id="ocr_id" name="ocr_id" class="ocr_id">{{ ocr_id }}</div>
				</h4>
				<img id="image_url" name="image_url" class="image_url" width="90%" src={{ image_url }} alt="Image {{ ocr_id }}" />
			</div>

			<div class="col-md-5 order-md-2 mb-4">
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Annotation</span>
				</h4>

				<div class="progress_detail">
						Annotation Progress:
						<div class="annotated_quantity" id="annotated_quantity" name="annotated_quantity">{{ corrected_ocr_quantity }}</div> /
						<div class="sum" id="sum" name="sum">{{ sum }}</div>,
						<div class="ratio" id="ratio" name="ratio">{{ corrected_ocr_ratio }}</div>%<br>
				</div>
				
				<div class="ocr_corrector">
					<h5 class="mb-3">OCR Result</h5>
					<textarea readonly rows="10" id="ocr_essay" name="ocr_essay" class="ocr_essay">{{ ocr_essay }}</textarea><br><br>
					<h5 class="mb-3">OCR Correction</h5>
					<textarea rows="10" id="ocr_correction" name="ocr_correction" class="ocr_correction">{{ ocr_correction }}</textarea>
					<br><br>
					<button id="button_previous" class="btn btn-outline-primary" onclick="previousImage(this);">Previous</button>
					<button id="button_next" class="btn btn-outline-primary" onclick="nextImage(this);">Next</button>
					<button id="button_submit" class="btn btn-outline-primary" onclick="submitOCRCorrection(this);">Submit</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>