<!doctype html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Sign In Page">
		<meta name="author" content="Shengjia Yan">
		<link rel="icon" href="{{ static_url("img/favicon.ico")}}">
		<title>{{ title }}</title>
		<script type="text/javascript" src="{{ static_url("js/jquery.min.js")}}"></script>
		<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js")}}"></script>
		<link type="text/css" href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet" media="screen, projection"/>
		<link type="text/css" href="{{ static_url("css/signin.css")}}" rel="stylesheet"/>
  	</head>

  	<body class="text-center">
		<form class="form-signin" action="/signin" method="POST">
		<img class="mb-4" src="{{ static_url("img/favicon.ico")}}" alt="17zuoye" width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Sign in to Annotator</h1>
		<label for="inputAccount" class="sr-only">Account</label>
		<input type="account" name="account" id="inputAccount" class="form-control" placeholder="Account" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me" checked="checked"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
  	</body>
</html>
