<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" charset="utf-8" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="description" content="View System">
    <meta name="author" content="Shengjia Yan">
	<title>{{ title }}</title>
	<link type="image/x-icon" href="{{ static_url("img/favicon.ico")}}" rel="shortcut icon"/>
	<script type="text/javascript" src="{{ static_url("js/popper.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/jquery.min.js")}}"></script>
	<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js")}}"></script>
	<link type="text/css" href="{{ static_url("css/bootstrap.min.css")}}" rel="stylesheet" media="screen, projection"/>
	<link type="text/css" href="{{ static_url("css/main.css")}}" rel="stylesheet" media="screen, projection"/>
</head>
<body class="bg-light">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
        </nav>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ current_user }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Contributions</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Help</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
        </div>
    </div>

    <div class="projects">
        <div id="picker" class="input-daterange">
            Annotator:
            <input class="form-control" type="text" name="annotator" id="annotator" placeholder=""/>{{ annotator }}<br>
            Start Date:
            <input class="form-control" type="text" name="start_date" id="start_date" placeholder="YYYY/MM/DD"/>{{ start_date }}<br>
            End Date:
            <input class="form-control" type="text" name="end_date" id="end_date" placeholder="YYYY/MM/DD"/>{{ end_date }}<br>
            <button id="button_screen" class="btn btn-outline-primary form-control" onclick="screen(this);">Screen</button>
        </div>
        <br>

    </div>

</body>
</html>